<form>
        <div>
            <p class="h3">Create a new account</p>
        </div>
        <div class="form-row my-3 mt-sm-0">
            <div class="col">
                <label>First name: *</label>
                <input type="text" class="form-control" placeholder="first name">
            </div>
            <div class="col">
                <label>Last name: *</label>
                <input type="text" class="form-control" placeholder="last name">
            </div>
        </div>
        <div class="form-row my-3 mt-sm-0">
            <div class="col">
                <label>Email: *</label>
                <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="email">
            </div>
        </div>
        <div class="form-row my-3 mt-sm-0">
            <div class="col">
                <label>Password: *</label>
                <input type="password" class="form-control" id="InputPassword1" placeholder="password">
            </div>
            <div class="col">
                <label>Confirm Password: * </label>
                <input type="password" class="form-control" id="InputPassword1" placeholder="confirm your password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary"  >Submit</button>
    </form>