 
<div class="card-deck">
    <div class="card">
      <img src="mcdonalds.png" class="card-img-top" alt="mcdonalds.png">
      <div class="card-body">
        <h5 class="card-title">McDonalds</h5>
        <p class="card-text">$.Burgers.American.FastFood.Deserts.
                Classic, long-running fast-food chain known for its burgers, fries & shakes.
                Address: 1472 Saint-Catherine St W, Montreal, Quebec H3G 1S8
                Hours: Open 24 hours
                
        </p>
         
        
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="../assets/images/BK.jpg" class="card-img-top" alt="indianthali.jpeg">
      <div class="card-body">
        <h5 class="card-title"> <fa-icon [icon]="faU"></fa-icon>Indian Thali</h5>
        <p class="card-text">4.0 
              $·Indian 
           1409 Rue Saint-Marc
           Closed ⋅ Opens 11:30 a.m.
           No-frills space with tandoori meats & vegetarian/vegan Thali meals with naan & rice</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="starbucks.jpg" class="card-img-top" alt="starbucks.jpg">
      <div class="starbucks">
        <h5 class="card-title">starbucks

        </h5>
        <p class="card-text">Seattle-based coffeehouse chain known for its signature roasts, light bites.
                2230 Rue Saint-Mathieu
            Closed ⋅ Opens 11:30 a.m.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>