.card-img-top{
background-image: url("mcdonalds.png");
width: 100%;
}
.card-img-top{
    background-image: url("indianthali.jpeg");
    width: 100%;
    }
    .card-img-top{
        background-image: url("starbucks.jpg");
        width: 100%;
        }