 
<div class="card-deck" >
    <div class="card" *ngFor="let restaurant of restaurants; ">
      <img src= "{{restaurant.img}}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title"><b>{{restaurant.name}}</b></h5>
        <p><b>Rating:</b></p>
        <h3 class="card-text" style="color:green;">{{restaurant.rating}}</h3>                              
      </div>
      <button [routerLink]="['/menu/ID',restaurant.id]" class="btn btn-danger">Order Now</button>
    </div>
  </div>